fastapi
uvicorn
gunicorn
python-dotenv
langchain
langchain-core
langchain-cohere
langchain-groq
langchain-qdrant
langchain-text-splitters
cohere
groq
qdrant-client

# Added for document processing and file uploads
PyPDF2
python-docx
mammoth
python-multipart
